.card__title img{
    width: 300px;

}
.card__title {
    margin-top: 50px;
text-align: center;
}
.book{
    display: flex;
    justify-content: center;
}
.book__text{
    text-align: center;
}
@media (max-width:991px){

    .book{
        display: grid;
        grid-template-columns: 3fr 3fr;
        text-align: center;
    }

    .header .header-1{
        padding:2rem;
    }

    section{
        padding:3rem 2rem;
    }
    .book__text{
        text-align: center;
        margin-bottom: 20px;
    }
}

@media (max-width:768px){

    .book{
        display: grid;
        grid-template-columns: 3fr 3fr;
        text-align: center;
        
    }

}

@media (max-width:450px){
    .book{
        display: grid;
        text-align: center;
    }
    .book img{
        width: 100px;
    }
}